"*":
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-python"
      "markdown-preview"
      "linter-clang"
      "linter"
      "linter-ui-default"
      "linter-python-pep8"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "__pycache__"
    ]
    packagesWithKeymapsDisabled: [
      "markdown-preview-plus"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "railscast-theme"
    ]
  editor:
    fontSize: 17
    invisibles: {}
    scrollPastEnd: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "c8877d6e-54df-44f2-bb95-b02e63ceaa6b"
  "graphviz-preview-plus": {}
  jumpy: {}
  "markdown-preview-plus":
    markdownItConfig:
      useLazyHeaders: false
    mathConfig: {}
    pandocConfig:
      pandocArguments: [
        "--standalone"
        "--metadata pagetitle=notitle"
        "--katex"
      ]
      pandocFilters: [
        "pandoc-codeblock-include"
        "pandoc-crossref"
        "pandoc-imagine"
      ]
      pandocMarkdownFlavor: "markdown-raw_tex+tex_math_single_backslash+emoji"
      pandocRemoveReferences: false
      useNativePandocCodeStyles: true
    previewConfig:
      activatePreviewWithEditor: true
    renderer: "pandoc"
    saveConfig:
      saveToPDFOptions: {}
    syncConfig: {}
    useGitHubStyle: true
  pigments:
    mergeColorDuplicates: true
  "status-bar":
    isVisible: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace: {}
  wordcount:
    alwaysOn: true
    ignorecode: true
    ignorecomments: true
    showchars: false
".dg.source":
  editor:
    tabType: "soft"
".scala.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
