ServerAliveInterval 10
ServerAliveCountMax 3
ControlPath ~/.ssh/sockets/%r@%h-%p


# X11 and rmate forwarding

Host *.pvv.ntnu.no
	ForwardX11 yes
	ForwardX11Trusted yes
	RemoteForward 52698 localhost:52698
host *.pvv.org
	ForwardX11 yes
	ForwardX11Trusted yes
	RemoteForward 52698 localhost:52698
#host *.pbsds.net
#	ForwardX11 yes
#	ForwardX11Trusted yes
#	RemoteForward 52698 localhost:52698


# UNINETT	
Host *.uninett.no
	User pedsun
Host *.eduroam.no
	User pedsun
Host login.uninett.no
	ControlMaster auto
	ControlPersist 600
Host pbsds-tos.eduroam.no
	ProxyJump login.uninett.no
Host box.eduroam.no
	ProxyJump login.uninett.no
Host box-test.eduroam.no
	ProxyJump login.uninett.no
Host timescaledb.labs.uninett.no
	ProxyJump login.uninett.no

# NTNU
Host stud.ntnu.no
	Hostname login.stud.ntnu.no
	User pederbs
Host login.stud.ntnu.no
	ControlMaster auto
	ControlPersist 600
	User pederbs
Host idun-login1.hpc.ntnu.no
	ControlMaster auto
	ControlPersist 600
	ProxyJump login.stud.ntnu.no
	User pederbs
Host gitlab.stud.idi.ntnu.no
#	ProxyJump login.stud.ntnu.no
	ProxyJump hildring.pvv.ntnu.no

# PVV
Host *.pvv.ntnu.no
	ControlMaster auto
	ControlPersist 600
Host hildring.pvv.ntnu.no
	User pederbs
Host skrott.pvv.ntnu.no
	User root
Host misantropy.pvv.ntnu.no
	User pederbs
Host doktor.pvv.ntnu.no
	User pederbs
Host microbel.pvv.ntnu.no
	User pederbs
Host lommel.pvv.ntnu.no
	User pederbs
Host stakeholder.pvv.ntnu.no
	User pederbs
Host venture.pvv.ntnu.no
	User pederbs
Host tom.pvv.ntnu.no
	User pederbs
Host tim.pvv.ntnu.no
	User pederbs
Host demiurgen.pvv.ntnu.no
	User pederbs
Host eirin.pvv.ntnu.no
	User pederbs
Host tallulah.pvv.ntnu.no
	User pederbs
	User pvv
	LocalForward 8080 localhost:9091
Host knakelibrak.pvv.ntnu.no
	User pederbs
Host dash8.pvv.ntnu.no
	User pederbs
Host essendrop.pvv.ntnu.no
	User pederbs
Host skrotnisse.pvv.ntnu.no
	User pederbs
Host jerry.pvv.ntnu.no
	User root
Host innovation.pvv.ntnu.no
	User root
Host alpys.pvv.ntnu.no
	User root
Host spikkjeposche.pvv.ntnu.no
    User pederbs
    User root
Host toriel.pvv.ntnu.no
    User root
Host principal.pvv.ntnu.no
    User root
Host gro-heidi.pvv.ntnu.no
    User root
Host brzeczyszczykiewicz.pvv.ntnu.no
    User grzegorz
Host dvask-mgmt.pvv.ntnu.no
	User root
Host nsa.pvv.ntnu.no
	User pi
Host balduzius.pvv.ntnu.no
	User root



#NVG
Host nvg.org
	Hostname login.nvg.org
	User pederbs
Host *.nvg.org
	User pederbs

#FYRKAT
Host hop.fyrkat.no
	User pbsds
	ProxyCommand none
Host fyrkat.no
	Hostname fil.fyrkat.no
	ProxyCommand ssh hop.fyrkat.no -W %h:%p
	IdentityFile ~/.ssh/id_rsa
	PasswordAuthentication no
	ForwardAgent no
	IdentitiesOnly yes
Host *.fyrkat.no
	User pbsds
	ProxyCommand ssh hop.fyrkat.no -W %h:%p
	IdentityFile ~/.ssh/id_rsa
	PasswordAuthentication no
	ForwardAgent no
	IdentitiesOnly yes
