ServerAliveInterval 10
ServerAliveCountMax 3
ControlPath ~/.ssh/sockets/%r@%h-%p


# X11 and rmate forwarding

Host *.pvv.ntnu.no
    ForwardX11 yes
    ForwardX11Trusted yes
    RemoteForward 52698 localhost:52698
host *.pvv.org
    ForwardX11 yes
    ForwardX11Trusted yes
    RemoteForward 52698 localhost:52698
Host *.pbsds.net
    ForwardX11 yes
    ForwardX11Trusted yes
    RemoteForward 52698 localhost:52698
Host 129.168.*.*
    RemoteForward 52698 localhost:52698


# UNINETT

Host *.uninett.no *.eduroam.no
    User pedsun
Host login.uninett.no
    ControlMaster auto
    ControlPersist 600
Host pbsds-tos.eduroam.no
    ProxyJump login.uninett.no
Host box.eduroam.no
    ProxyJump login.uninett.no
Host box-test.eduroam.no
    ProxyJump login.uninett.no
Host timescaledb.labs.uninett.no
    ProxyJump login.uninett.no


# NTNU

Host stud.ntnu.no
    Hostname login.stud.ntnu.no
    User pederbs
Host login.stud.ntnu.no
    ControlMaster auto
    ControlPersist 600
Host *.idi.ntnu.no stud.ntnu.no *.stud.ntnu.no
    ForwardX11 yes
    ForwardX11Trusted yes
    RemoteForward 52698 localhost:52698
#Match exec "test 129.241 != $(curl -4 myip.tf | cut -d. -f1-2)" host *.idi.ntnu.no
    #ProxyJump login.stud.ntnu.no
    #ProxyJump hildring.pvv.ntnu.no
    #ProxyJump dash8.pvv.ntnu.no
Host lab40*.idi.ntnu.no
    ControlMaster auto
    ControlPersist 600
Host lab402.idi.ntnu.no # R9 Fury
Host lab405.idi.ntnu.no # 1080
#Host lab406.idi.ntnu.no # 1080
Host lab408.idi.ntnu.no # TITAN X (Pascal)
#Host lab411.idi.ntnu.no
Host clab25.idi.ntnu.no
Host idun-login1.hpc.ntnu.no
Host *.hpc.ntnu.no *.stud.ntnu.no *.idi.ntnu.no
    User pederbs


# PVV
Host hildring.pvv.ntnu.no
Host microbel.pvv.ntnu.no
Host tom.pvv.ntnu.no
Host tim.pvv.ntnu.no
Host demiurgen.pvv.ntnu.no
Host eirin.pvv.ntnu.no
Host knakelibrak.pvv.ntnu.no
Host dash8.pvv.ntnu.no
Host git.pvv.ntnu.no
Host essendrop.pvv.ntnu.no
Host skrotnisse.pvv.ntnu.no
Host spikkjeposche.pvv.ntnu.no
Host sleipner.pvv.ntnu.no
Host hasub.pvv.ntnu.no
Host monty.pvv.ntnu.no
Host sleipner.pvv.ntnu.no
    ProxyJump hildring.pvv.ntnu.no
Host lommel.pvv.ntnu.no
    ProxyJump hildring.pvv.ntnu.no
Host tallulah.pvv.ntnu.no
    LocalForward 9091 localhost:9091
Host skrott.pvv.ntnu.no
    User root
Host innovation.pvv.ntnu.no
    User root
Host alphys.pvv.ntnu.no
    User root
Host toriel.pvv.ntnu.no
    User root
Host principal.pvv.ntnu.no
    User root
    ProxyJump hildring.pvv.ntnu.no
    IdentityFile ~/.ssh/id_ecdsa_passwd
Host brzeczyszczykiewicz.pvv.ntnu.no
    User grzegorz
Host dvask-mgmt.pvv.ntnu.no
    User root
    RemoteCommand minicom
    RequestTTY force
Host nsa.pvv.ntnu.no
    User pi
Host balduzius.pvv.ntnu.no
    User root
    ProxyJump hildring.pvv.ntnu.no
Host fenris.pvv.ntnu.no
    User root
    ProxyJump hildring.pvv.ntnu.no
Host *.pvv.ntnu.no
    ControlMaster auto
    ControlPersist 600
    User pederbs


#NVG
Host nvg.ntnu.no
    Hostname login.nvg.ntnu.no
    User pederbs
Host *.nvg.ntnu.no
    User pederbs


#FYRKAT
Host *.fyrkat.no
    User pbsds
    ProxyJump hop.fyrkat.no
Host fyrkat.no
	Hostname fil.fyrkat.no
