[Desktop Entry]
Name=Instabart
TryExec=vivaldi-stable
Exec=vivaldi-stable --app='https://instabart.no'
Icon=app-launcher
Terminal=false
Type=Application
Keywords=web;ntnu;kiosk;app;instabart;
#StartupWMClass=todo
