[Desktop Entry]
Name=Messages (Android)
TryExec=vivaldi-stable
Exec=vivaldi-stable --app='https://messages.google.com/web/conversations'
Icon=mail
Terminal=false
Type=Application
Keywords=web;messages;android;kiosk;app;
#StartupWMClass=todo
