[Desktop Entry]
Name=Pent.no (Trondheim)
TryExec=vivaldi-stable
Exec=vivaldi-stable --app='https://pent.no/63.43048,10.39506'
Icon=weather
Terminal=false
Type=Application
Keywords=web;kiosk;weather;vaer;vær;pent;app;
#StartupWMClass=todo
