[Desktop Entry]
Name=Android Screen
Exec=bash -c '/usr/bin/scrcpy --window-x 0 --window-y 0 ; test $? = 1 && test $(/usr/bin/adb devices -l | wc -l) -le 2 && /usr/bin/zenity --error --text "no android device was found"'
Icon=phone
Terminal=false
Type=Application
Keywords=android;phone;scrcpy;screen;
