[Desktop Entry]
Name=Excalidraw
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://excalidraw.com'
Icon=dnfdragora
Terminal=false
Type=Application
Keywords=web;kiosk;app;draw;excalidraw;svg;
#StartupWMClass=todo
