[Desktop Entry]
Name=Quiver
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://q.uiver.app'
Icon=emblem-link
Terminal=false
Type=Application
Keywords=web;kiosk;app;draw;quiver;tikz;
#StartupWMClass=todo
