[Desktop Entry]
Name=Messenger (Facebook)
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://www.messenger.com'
Icon=appimagekit-caprine
Terminal=false
Type=Application
Keywords=web;messenger;facebook;kiosk;app;
#StartupWMClass=todo
