[Desktop Entry]
Name=slides.com
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://slides.com/pbsds'
Icon=x-office-presentation
Terminal=false
Type=Application
Keywords=web;kiosk;app;slides;powerpoint;presentation;
#StartupWMClass=todo
