[Desktop Entry]
Name=Messages (Android)
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://messages.google.com/web/conversations'
Icon=mail
Terminal=false
Type=Application
Keywords=web;messages;android;kiosk;app;
#StartupWMClass=todo
