[Desktop Entry]
Name=Outlook
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://outlook.office365.com/owa/?realm=ntnu.no#path=/mail'
Icon=mail
Terminal=false
Type=Application
Keywords=web;ntnu;kiosk;app;instabart;outlook;mail;email;
#StartupWMClass=todo
