[Desktop Entry]
Name=Piazza (TDT4195)
TryExec=firefox
Exec=firefox 'https://piazza.com/class/ksptwhz4f4y35e'
Icon=institution
Terminal=false
Type=Application
Keywords=web;ntnu;app;piazza;tdt4195;
#StartupWMClass=todo
