[Desktop Entry]
Name=Mathtype (PVV)
TryExec=firefox
#Exec=chromium --app=
Exec=firefox --new-window 'https://www.pvv.ntnu.no/~pederbs/math'
Icon=typora
Terminal=false
Type=Application
Keywords=web;kiosk;app;pvv;math;katex;latex;tex;equation;
#StartupWMClass=todo
