[Desktop Entry]
Name=Youtube Library
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://www.youtube.com/feed/library'
Icon=youtube
Terminal=false
Type=Application
Keywords=web;kiosk;app;google;youtube;library;video;
#StartupWMClass=todo
