[Desktop Entry]
Name=Instabart
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://instabart.no'
Icon=app-launcher
Terminal=false
Type=Application
Keywords=web;ntnu;kiosk;app;instabart;
#StartupWMClass=todo
