[Desktop Entry]
Name=Graphviz Online
TryExec=firefox
#Exec=chromium --app=
Exec=firefox 'https://dreampuf.github.io/GraphvizOnline/'
Icon=application
Terminal=false
Type=Application
Keywords=web;kiosk;app;graphviz;dot;neato;
#StartupWMClass=todo
