[Desktop Entry]
Name=Youtube Library
TryExec=vivaldi-stable
Exec=vivaldi-stable --app='https://www.youtube.com/feed/library'
Icon=youtube
Terminal=false
Type=Application
Keywords=web;kiosk;app;google;youtube;library;video;
#StartupWMClass=todo
